.about {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 30px;
}

.bio {
    margin: 5%;
    /* padding: 5%; */
}

aside {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;

    min-height: 100px;

}

.line {

    height: 100%;

    border-right: 5px solid var(--dark-navy);
    /* position: absolute; */
    margin-left: 40px;
}

.btn {

    line-height: 1px;
}

@media screen and (max-width: 390px) {
    .about {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .bio {
        position: relative;
        bottom: 20px;
    }

    aside {

        display: flex;
        flex-direction: column;
        /* position: absolute;
        top: 120px; */
         min-height: 100px;

    }

    .line {

        /* width: 50%; */

        border-bottom: 1px solid var(--dark-navy);
        position: relative;
        right: 15px;
        margin-left: 10px;
    }


    .bio h3 {
        font-size: var(--fz-xxs);
        font-weight: bold;
        padding: 5px;

    }
}